absl-py==1.3.0
alembic==1.8.1
altair==4.2.0
anyio==3.6.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
astor==0.8.1
astroid==2.12.13
asttokens==2.0.5
astunparse==1.6.3
attrs==22.1.0
backcall==0.2.0
backports.zoneinfo==0.2.1
base58==2.1.1
beautifulsoup4==4.11.1
bleach==5.0.1
blinker==1.5
brotlipy==0.7.0
cachetools==5.2.0
certifi==2022.9.24
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.12
click==8.0.4
click-plugins==1.1.1
cligj==0.7.2
cloudpickle==2.2.0
colorama==0.4.4
conda==22.9.0
conda-build==3.22.0
conda-content-trust==0+unknown
conda-package-handling==1.8.1
contourpy==1.0.6
cryptography==36.0.0
cycler==0.11.0
Cython==0.29.32
databricks-cli==0.17.3
db-dtypes==1.0.4
debugpy==1.6.3
decorator==5.1.1
defusedxml==0.7.1
dill==0.3.6
dlib==19.24.0
dnspython==2.2.1
docker==6.0.1
easydict==1.10
email-validator==1.3.0
entrypoints==0.4
exceptiongroup==1.0.0
executing==0.8.3
expecttest==0.1.4
fairlearn==0.8.0
fastapi==0.87.0
fastjsonschema==2.16.2
ffmpeg-python==0.2.0
filelock==3.6.0
Fiona==1.8.22
flake8==6.0.0
Flask==2.2.5
flatbuffers==1.12
fonttools==4.38.0
gast==0.4.0
geopandas==0.12.1
gitdb==4.0.10
GitPython==3.1.29
glob2==0.7
google-api-core==2.10.2
google-auth==2.14.1
google-auth-oauthlib==0.4.6
google-cloud-bigquery==3.4.0
google-cloud-bigquery-storage==2.16.2
google-cloud-core==2.3.2
google-cloud-storage==2.6.0
google-crc32c==1.5.0
google-pasta==0.2.0
google-resumable-media==2.4.0
googleapis-common-protos==1.57.0
greenlet==2.0.1
grpcio==1.50.0
grpcio-status==1.50.0
gunicorn==20.1.0
h11==0.14.0
h5py==3.7.0
hdf5storage==0.1.18
httpcore==0.16.1
httptools==0.5.0
httpx==0.23.1
hypothesis==6.56.4
idna==3.3
imageio==2.22.4
importlib-metadata==5.0.0
importlib-resources==5.10.0
imutils==0.5.4
ipykernel==6.17.1
ipython==8.4.0
ipython-genutils==0.2.0
ipywidgets==8.0.2
isort==5.10.1
itsdangerous==2.1.2
jedi==0.18.1
Jinja2==3.1.2
joblib==1.2.0
jsonschema==4.17.1
jupyter_client==7.4.7
jupyter_core==5.0.0
jupyter-server==1.23.3
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.3
keras==2.9.0
keras-nightly==2.12.0.dev2022112408
Keras-Preprocessing==1.1.2
kiwisolver==1.4.4
lazy-object-proxy==1.8.0
libarchive-c==2.9
libclang==14.0.6
llvmlite==0.39.1
Mako==1.2.4
Markdown==3.4.1
MarkupSafe==2.1.1
matplotlib==3.6.2
matplotlib-inline==0.1.6
mccabe==0.7.0
mistune==2.0.4
mkl-fft==1.3.1
mkl-random==1.2.2
mkl-service==2.4.0
mlflow==2.3.1
mpmath==1.2.1
munch==2.5.0
mypy==0.991
mypy-extensions==0.4.3
nbclassic==0.4.8
nbclient==0.7.0
nbconvert==7.2.5
nbformat==5.7.0
nest-asyncio==1.5.6
networkx==2.8.8
ninja==1.11.1
notebook==6.5.2
notebook_shim==0.2.2
numba==0.56.4
numpy==1.23.5
oauthlib==3.2.2
opencv-python==4.6.0.66
opt-einsum==3.3.0
orjson==3.8.2
packaging==21.3
pandas==1.5.2
pandas-gbq==0.17.9
pandocfilters==1.5.0
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.0.1
pip==22.3.1
pkginfo==1.8.3
platformdirs==2.5.4
plotly==5.11.0
prometheus-client==0.15.0
prometheus-flask-exporter==0.21.0
prompt-toolkit==3.0.33
proto-plus==1.22.1
protobuf==4.21.9
psutil==5.9.4
ptyprocess==0.7.0
pure-eval==0.2.2
py3nvml==0.2.7
py4j==0.10.9.5
pyarrow==9.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycocotools==2.0.6
pycodestyle==2.10.0
pycosat==0.6.3
pycparser==2.21
pydantic==1.10.2
pydata-google-auth==1.4.0
pydeck==0.8.0
pyflakes==3.0.0
Pygments==2.11.2
PyJWT==2.6.0
pylint==2.15.6
Pympler==1.0.1
PyMySQL==1.0.2
pyOpenSSL==22.0.0
pyparsing==3.0.9
pyproj==3.4.0
PyQt5==5.15.7
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.0
pyrsistent==0.19.2
PySide6==6.2.4
PySocks==1.7.1
pyspark==3.3.1
python-dateutil==2.8.2
python-decouple==3.6
python-dotenv==0.21.0
python-editor==1.0.4
python-multipart==0.0.5
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0
pyzmq==24.0.1
querystring-parser==1.2.4
requests==2.27.1
requests-oauthlib==1.3.1
rfc3986==1.5.0
rsa==4.9
ruamel-yaml-conda==0.15.100
scikit-learn==1.1.3
scipy==1.9.3
seaborn==0.12.1
semver==2.13.0
Send2Trash==1.8.0
setuptools==65.6.3
shap==0.41.0
Shapely==1.8.5.post1
shiboken6==6.2.4
six==1.16.0
slicer==0.0.7
smmap==5.0.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
SQLAlchemy==1.4.44
sqlparse==0.4.3
squarify==0.4.3
stack-data==0.2.0
starlette==0.27.0
streamlit==1.9.0
sympy==1.11.1
tabulate==0.9.0
tenacity==8.1.0
tensorboard==2.9.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.11.1
tensorflow-estimator==2.9.0
tensorflow-io-gcs-filesystem==0.28.0
termcolor==2.1.1
terminado==0.17.0
testpath==0.6.0
threadpoolctl==3.1.0
tinycss2==1.2.1
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.6
toolz==0.11.2
torch==1.13.0
torchaudio==0.13.0
torchtext==0.14.0
torchvision==0.14.0
tornado==6.2
tqdm==4.64.1
traitlets==5.5.0
trash-cli==0.22.10.20
types-dataclasses==0.6.6
typing_extensions==4.4.0
tzdata==2022.6
tzlocal==4.2
ujson==5.5.0
urllib3==1.26.8
uvicorn==0.20.0
uvloop==0.17.0
validators==0.20.0
watchdog==2.1.9
watchfiles==0.18.1
watermark==2.3.1
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.4.2
websockets==10.4
Werkzeug==2.2.3
wheel==0.38.4
widgetsnbextension==4.0.3
wordcloud==1.8.2.2
wrapt==1.14.1
xmltodict==0.13.0
yacs==0.1.8
zipp==3.10.0
